wireguard_config/wg_confs/
wireguard_config/peer1/
wireguard_config/peer2/
wireguard_config/peer3/
wireguard_config/templates/
pihole/nginx/certs/siem.key
pihole/etc-pihole/tls.pem
wireguard_config/wg_confs/
wireguard_config/peer1/
wireguard_config/peer2/
wireguard_config/peer3/
wireguard_config/templates/
pihole/nginx/certs/siem.key
pihole/etc-pihole/tls.pem
wireguard_config/peer1/privatekey-peer1
wireguard_config/peer1/presharedkey-peer1
wireguard_config/peer2/privatekey-peer2
wireguard_config/peer2/presharedkey-peer2
wireguard_config/peer3/privatekey-peer3
wireguard_config/peer3/presharedkey-peer3
wireguard_config/server/privatekey-server
